<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>796029913814-te7nbtonb720ium8q87rlm5ro3ss3hrm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.796029913814-te7nbtonb720ium8q87rlm5ro3ss3hrm</string>
	<key>API_KEY</key>
	<string>AIzaSyDc8oSXKtFH7OTsrsfI1LRZmC-rwgdfibo</string>
	<key>GCM_SENDER_ID</key>
	<string>796029913814</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tendigi.tictactoe</string>
	<key>PROJECT_ID</key>
	<string>tictactoe-79adf</string>
	<key>STORAGE_BUCKET</key>
	<string>tictactoe-79adf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:796029913814:ios:172241e1cd9b8feb</string>
	<key>DATABASE_URL</key>
	<string>https://tictactoe-79adf.firebaseio.com</string>
</dict>
</plist>